body {
    width: 80%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
}

main{
    padding: 1rem;
}

li {
    list-style-type: circle;
    list-style-position: inside;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1rem;
    color:white;
    background-color: blue;
    font-weight: bold;
}
