* {
    box-sizing: border-box;
}

/*------- MOBILE FIRST -------: */
    body {
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
    }
    
/* HEADER */
    header {
        display:flex;
        flex-direction: column;
        max-width:100%;
        background: linear-gradient(45deg, rgb(185, 185, 185), rgb(87, 87, 87));
    }

    #main-title-container {
        max-width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5rem 0.5rem 0;
    
    }

    #main-title-container img {
        width: 40px;
        background-color: white;
        padding: 0.1rem;
        border: 2px solid lightgrey;
        border-radius: 7px;
        margin: 0.3rem 0.5rem 0.3rem 0.5rem;
    }

    #website-title {
        font-family: 'Press Start 2P', cursive;
        color:rgb(36, 36, 36);
        font-size: 1.7rem;
        text-align: center;
        padding-top: 0.1rem;
        margin-left: 0.4rem;
        margin-block-end: 0;
    }

    nav {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size:0.8rem;
        letter-spacing: 0.3px;
        padding-bottom: 0.4rem;
        display: flex;
        justify-content: flex-end;
        margin: 0 0.2rem;
    }

    nav a {
        padding:0.2rem 0.6rem 0 0.6rem;
        color: white;
        text-decoration: none;
        border-left: 1px solid white;
        transition: all 0.3s ease-out;
    }

    nav a:hover {
        padding:0 1rem;
        color: rgb(36, 36, 36);
        text-decoration: none;
        border-left: 1px solid white;
    }
    

/* MAIN - HOME */
    h1{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    #pokedex-home-img {
        max-width: 150px;
        margin-bottom: 1rem;
    }
    
    #intro{
        max-width: 100%;
        font-size: 1rem;
    }

    p{ 
        margin-bottom: 0.3rem;
        display:block;
        text-align: center;
    }

    main{
        /* padding: 1rem; */
        background-color: #f3f3f3;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: rgb(36,36,36);
        letter-spacing: 0.3px;
    }
    
    li {
        list-style-type: circle;
        list-style-position: inside;
    }

    .main-container {
        background-color: white;
        display:flex;
        flex-direction: column;
        padding: 1.5rem;
        width: 100%;
        align-items: center;
        min-height:85vh;
    }

    #random-pokemon-container{
        width: 100%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #random-pokemon{
        border: 1px solid rgb(44, 44, 44);
        border-radius: 5px;
        width: 250px;
        margin: 0.8rem auto;
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #random-pokemon-button {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        background-image: linear-gradient(45deg, rgb(185, 185, 185), rgb(87, 87, 87));
        border-radius: 5px;
        color: white;
        height: 2rem;
        width: 250px;
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    #random-pokemon-image {
        max-width:200px;
        margin: 0.5rem auto;
    }

    #random-pokemon-decription {
        color: rgb(51, 51, 51);
        font-size: 1rem;
    }

   .main-section-title {
        font-size: 1.2rem;
        border-bottom: 1px solid rgb(36,36,36);
    }

    .main-section-title strong {
        font-weight: bold;
    }
    /* All pokemons page */
    #pokemons-list-container {
        margin-top: 0.5rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pokemon-card {
        border: 1px solid rgb(36,36,36);
        border-radius: 5px;
        background-color: lightgray;
        width: 243px;
        height: 270px;
        margin: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .pokemon-card-header{
        font-family: 'Press Start 2P', cursive;
        transform: scale(1, 1.1);
        font-size: 0.75rem;
        width:100%;
        display:flex;
        justify-content: space-between;
        padding: 0.8rem 0.7rem 0 0.7rem;
    }

    .pokemon-card-img{
        width: 150px;
    }

    .button-details-pokemon {
        margin-bottom: 0.5rem;
        width:80%;
        height: 35px;
        border: 1px solid rgb(36, 36, 36);
        border-radius: 5px;
    }

    .button-details-pokemon a {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: rgb(36,36,36);
        letter-spacing: 0.3px;
        text-align: center;
        font-size: 0.9rem;
        text-decoration: none;
    }

    /* 1 pokemon - details page */
    #pokemon-details-container {
        width: 90%;
        margin: 0.5rem auto;
        border: 1px solid rgb(36,36,36);
        border-radius: 7px;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #pokemon-header-container {
        font-family: 'Press Start 2P', cursive;
        transform: scale(1, 1.1);
        font-size: 0.7rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    #img-and-stats-container {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #img-and-stats-container img {
        margin: 0.8rem;
        width: 150px;
    }

    #stats-container {
        width: 100%;
        height: 162px;
        border: 1px solid blue;
        padding: 0.3rem;
        border-radius: 5px;
    }

    #stats-head-title {
        font-weight: bold;
        font-size: 1rem;;
        border-bottom: 1px solid rgb(36,36,36);
    }

    #return-link-container {
        margin: 1rem auto;
    }

    /*Types page*/
    #types-list{
        margin: 1rem auto;
    }

    #types-list li {
        font-size: 1.2rem;
        list-style-image: url("/images/Poke_Ball_bullet.png");
        margin-bottom: 0.2rem;
    }


    
/* FOOTER */
    footer {
        font-family: 'Press Start 2P', cursive;
        font-size: 0.4rem;
        text-align: center;
        padding: 0.5rem;
        color: rgb(36, 36, 36);
        background: linear-gradient(45deg, rgb(185, 185, 185), rgb(87, 87, 87));
    }



/* -------TABLET / DESKTOP ------- */
    @media screen and (min-width: 769px) {
        
/* HEADER */

    #main-title-container img {
        width: 60px;

    }

    #website-title {
        font-size: 1.9rem;
    }

    nav {
        font-size:1.5rem;
        letter-spacing: 0.3px;

    }

/* BODY */
        
    body {
        max-width:100%;
    }

    .main-container {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    h1{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    #pokedex-home-img {
        max-width: 250px;
        margin-bottom: 2rem;
    }

    #intro{
        font-size: 1.5rem;
    }

    #random-pokemon-button {
        font-size: 1.2rem;
    }

    #random-pokemon-decription {
        font-size: 1.2rem;
    }



/*POKEMON PAGES*/    
    .main-section-title {
        font-size: 1.7rem;
    }

    /* LIST OF POKEMONS */

        .pokemon-card {
            width: 202px;
            height: 225px;
        }

        .pokemon-card-header{
            font-size: 0.65rem;

        }

        .pokemon-card-img{
            width: 130px;
        }

        .button-details-pokemon {
            margin-bottom: 0.6rem;
            height: 32px;
        }

        .button-details-pokemon a {
            font-size: 1.1rem;
        }
    
    /* POKEMON DETAILS*/
        
        #pokemon-details-container {
            width: 70%;
        }

        #pokemon-header-container {
            flex-direction: column;
            font-size: 0.8rem;
        }

        #pokemon-header-container h2 {
            margin-bottom: 0.5rem;;
        }

        #pokemon-header-container p {
            text-align:start;
        }

        #img-and-stats-container {
            flex-direction: row;
            align-items: flex-start;
        }
    
        #stats-head-title {
            font-size: 1.2rem;
        }

        #return-link-container {
            font-size: 1.2rem;
        }

/*TYPES*/

    #types-list {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.8rem;
    }

    #types-list li {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    #types-list-container a {
        font-size: 1.2rem;
    }

/* FOOTER */
    footer {
        font-size: 0.6rem;
    }
}