<header>
    <nav>
        <a href="/">
            <img src="/images/pikachu.png" alt="Pikachu" width="50px">
        </a>
        <a href="/pokemons">
            Pokemons
        </a>
    </nav>
</header>
