<header>
    <div id="main-title-container">
        <a href="/">
            <img src="/images/pokedex-icon.png" alt="Pokedex">
        </a>
        <h1 id="website-title">Pokedex</h1>
    </div>
    <nav>
        <a href="/pokemons">Pokemons</a>
    </nav>
</header>
